# Created by .ignore support plugin (hsz.mobi)
### Eclipse template
*.pydevproject
.metadata
bin/
tmp/
build/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/


### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

.classpath
target/
